.about-container {
    display: flex;
    align-items: flex-start;
    /* Align near top for scrolling */
    position: relative;
    min-height: calc(100vh - var(--nav-height));
    padding-left: 7%;
    padding-top: 5vh;
    
}

.about-content-scroll {
    display: flex;
    flex-direction: column;
    width: 55%;
    /* Keep text content at ~55% */
    padding-right: 9rem;
    padding-bottom: 5rem;
    z-index: 2;
    
}


/* Left Side Typography */
.about-big-title {
    font-size: 5.5rem;
    line-height: 1.05;
    font-weight: 700;
    color: #9eec84;
    /* Dark green */
    padding-left: 1rem;
    margin-bottom: 3rem;
    letter-spacing: -2px;
    background-color: rgba(25, 85, 48, 0.186);
}

/* List with Angle brackets */
.about-list-section {
    margin-bottom: 4rem;
    font-family: inherit;
    font-size: 1.1rem;
}

.about-list {
    color: #9eec84;
    /* Sap green text */
    padding-left: 0;
}

.about-list li {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.list-indent-1 {
    padding-left: 2rem;
    display: flex !important;
    flex-direction: row !important;
    gap: 0.5rem;
    align-items: center;
}

.list-tag {
    color: #8c9b7a;
    /* Olive color for the tags */
    font-family: monospace;
    font-size: 1rem;
}

.list-value {
    color: #9eec84;
    font-weight: 500;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

/* Paragraph section */
.about-paragraph-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-description {
    font-size: 1.25rem;
    line-height: 1.8;
    color: #32600c;
    position: relative;
}

.about-description::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
    height: calc(100% - 10px);
    width: 3px;
    background-color: #8c9b7a;
    /* Olive accent */
}


@media screen and (max-width: 1024px) {
    .about-content-scroll {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        padding-left: 5%;
    }

    .about-content-scroll {
        width: 100%;
        padding-right: 5%;
        background-color: rgba(252, 249, 242, 0.85);
        /* Semi-transparent bg over collage */
        backdrop-filter: blur(5px);
    }

    .about-big-title {
        font-size: 4rem;
    }
}